# Django Settings
SECRET_KEY=your_secret_key_here
DEBUG=True

# SQLite (Default DB for transactional data)
# No extra config needed if using default db.sqlite3

# MongoDB Settings
MONGO_URI=mongodb://localhost:27017/irctc_logs
MONGO_DB_NAME=irctc_logs

# Application settings
ADMIN_API_KEY=your_admin_secret_key_if_needed
